<div class="mastHeadParentDiv">
  <div class="mastHeadLogo">
    <a routerLink="">
      <img id="logo" src="../assets/nyt-logo.png" alt="">
    </a>
  </div>
  <div class="categoriesBar">
    <a href="#">World</a>
    <a href="#">U.S.</a>
    <a href="#">Politics</a>
    <a href="#">N.Y.</a>
    <a href="#">Business</a>
    <a href="#">Opinion</a>
    <a href="#">Tech</a>
    <a href="#">Science</a>
    <a href="#">Health</a>
    <a href="#">Sports</a>
    <a href="#">Arts</a>
    <a href="#">Books</a>
  </div>
</div>
