<div class="topBar">
  <div class="categoriesSearch">
    <button class="btn btn-info" type="button" name="button">Categories</button>
    <button class="btn btn-info" type="button" name="button">Search</button>
  </div>
  <div class="languages">
    <p>English</p>
    <p>Espanol</p>
  </div>
  <div class="loginCrossword">
    <a routerLink="app-crossword">
        <button type="button" name="button">Crossword</button>
    </a>
    <button type="button" name="button">Log In</button>
  </div>
</div>
