<div class="newOpEdBox">
  <h2>Write a new Op-Ed!</h2>
  <div class="newOpEd">
    <div class="">
      <label>Title</label>
      <br>
      <textarea #newTitle></textarea>
    </div>
    <div class="">
      <label>Preview Text</label>
      <br>
      <textarea #newPreviewText></textarea>
    </div>
    <div class="">
      <label>Op-Ed Body</label>
      <br>
      <textarea #newBody></textarea>
    </div>
    <div>
      <button (click)="newOpEd(newTitle.value,newPreviewText.value,newBody.value); newTitle.value='';newPreviewText.value='';newBody.value=''">Submit Your Op-Ed</button>
    </div>
  </div>
</div>
